# Basic Analysis:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read the file
df = pd.read_excel(r"C:\Users\Dre\Downloads\Copy of wfshg (1).xlsx")
df.head(10)

,Product Name,Company,Export Country,Date,Units Sold,unit_price,Profit per unit,Export Value,Destination Port,Transportation Mode
0,Rubber,Farmgate Nigeria Limited,Austria,2023-11-16,721.0,31443.05,5863.92,22670439.05,Lagos,Sea
1,Palm Oil,Prime Agro Exports Nigeria Limited,Germany,2021-01-08,881.0,23151.97,5868.73,20396885.57,Lagos,Sea
2,Cassava,Farmgate Nigeria Limited,Germany,2020-10-14,702.0,18536.45,5105.01,13012587.90,Calabar,Sea
3,Rubber,Nigerian Export Promotion Council (NEPC),Belgium,2022-12-31,191.0,21981.31,7781.54,4198430.21,Warri,Sea
4,Sesame,Nigeria Agro Export Company,France,2022-12-19,373.0,13415.94,9590.95,5004145.62,Lagos,Sea
5,Palm Oil,Greenfield Agro Exporters Nigeria Limited,Netherlands,2021-07-13,593.0,44749.95,4498.48,26536720.35,Lagos,Sea
6,Rubber,Solid Agro Nigeria Limited,Denmark,2022-02-22,142.0,21985.66,5963.85,3121963.72,Lagos,Sea
7,Sesame,Nigerian Export Promotion Council (NEPC),Sweden,2021-03-22,990.0,16931.73,3464.19,16762412.70,Calabar,Sea
8,Rubber,Agro Export Nigeria Ltd,Denmark,2022-08-01,606.0,17896.94,5326.45,10845545.64,Lagos,Sea
9,Cashew,Golden Farms Nigeria Limited,Netherlands,2020-11-26,900.0,42463.53,5468.54,38217177.00,Lagos,Sea

In [3]:
df.describe()

        Units Sold    unit_price  Profit per unit  Export Value
count  1000.000000   1000.000000      1000.000000  1.000000e+03
mean    536.804000  30010.266660      6125.299550  1.631766e+07
std     251.311112  11515.423486      2269.844681  1.028734e+07
min     103.000000  10006.540000      2000.300000  1.323777e+06
25%     322.750000  20013.620000      4261.327500  7.669552e+06
50%     519.000000  30082.600000      6132.150000  1.441451e+07
75%     743.250000  39955.005000      8038.315000  2.262969e+07
max     999.000000  49985.860000      9990.570000  4.712082e+07

In [4]:
df.isnull().sum()

Product Name           0
Company                0
Export Country         0
Date                   0
Units Sold             0
unit_price             0
Profit per unit        0
Export Value           0
Destination Port       0
Transportation Mode    0
dtype: int64

In [5]:
# 1. Total Units Sold by Product: Which product has the highest total units sold across all exports?
total_unit_sold = df.groupby('Product Name')['Units Sold'].sum()
print(total_unit_sold)

Product Name
Cashew      70833.0
Cassava     64234.0
Cocoa       76129.0
Ginger      54093.0
Palm Oil    63879.0
Plantain    64863.0
Rubber      66641.0
Sesame      76132.0
Name: Units Sold, dtype: float64

In [6]:
highest_total_unit = total_unit_sold.idxmax()
print("Highest Total Units Sold by Product:\n", highest_total_unit)

Highest Total Units Sold by Product:
 Sesame

In [7]:
# 2. Company Contribution: Which company exported the most units?
company_total_unit = df.groupby("Company")["Units Sold"].sum()
print(company_total_unit)

Company
Agriplus Nigeria Limited                     52139.0
Agro Allied Exporters Nigeria Limited        47204.0
Agro Export Nigeria Ltd                      59944.0
Farmgate Nigeria Limited                     52010.0
Golden Farms Nigeria Limited                 60724.0
Greenfield Agro Exporters Nigeria Limited    50633.0
Nigeria Agro Export Company                  54717.0
Nigerian Export Promotion Council (NEPC)     55833.0
Prime Agro Exports Nigeria Limited           52035.0
Solid Agro Nigeria Limited                   51565.0
Name: Units Sold, dtype: float64

In [8]:
highest_company_unit = company_total_unit.idxmax()
print("Company That Export The Most Units;\n", highest_company_unit)

Company That Export The Most Units;
 Golden Farms Nigeria Limited

In [9]:
# What percentage of the total units sold does each company contribute?
total_unit_company = df.groupby('Company')['Units Sold'].sum()
print(total_unit_company)

Company
Agriplus Nigeria Limited                     52139.0
Agro Allied Exporters Nigeria Limited        47204.0
Agro Export Nigeria Ltd                      59944.0
Farmgate Nigeria Limited                     52010.0
Golden Farms Nigeria Limited                 60724.0
Greenfield Agro Exporters Nigeria Limited    50633.0
Nigeria Agro Export Company                  54717.0
Nigerian Export Promotion Council (NEPC)     55833.0
Prime Agro Exports Nigeria Limited           52035.0
Solid Agro Nigeria Limited                   51565.0
Name: Units Sold, dtype: float64

In [10]:
total_percentage = (total_unit_company / total_unit_company.sum()) * 100
print("Percentage Companies Contributed:\n", total_percentage)

Percentage Companies Contributed:
 Company
Agriplus Nigeria Limited                      9.712856
Agro Allied Exporters Nigeria Limited         8.793526
Agro Export Nigeria Ltd                      11.166832
Farmgate Nigeria Limited                      9.688825
Golden Farms Nigeria Limited                 11.312136
Greenfield Agro Exporters Nigeria Limited     9.432307
Nigeria Agro Export Company                  10.193106
Nigerian Export Promotion Council (NEPC)     10.401003
Prime Agro Exports Nigeria Limited            9.693482
Solid Agro Nigeria Limited                    9.605927
Name: Units Sold, dtype: float64

In [11]:
# 3. Top Destination Ports: 
# Which destination port has received the highest number of units sold?
total_unit_sold = df.groupby('Destination Port')['Units Sold'].sum()
print(total_unit_sold)

Destination Port
Calabar           70315.0
Lagos            316417.0
Port Harcourt     70736.0
Warri             79336.0
Name: Units Sold, dtype: float64

In [12]:
port_receiving = total_unit_sold.idxmax()
print("Port That Received Highest Units Sold:\n", port_receiving)

Port That Received Highest Units Sold:
 Lagos

In [13]:
# 4. Average Unit Price per Product: 
# What is the average unit price for each product exported?
avg_price = df.groupby('Product Name')['unit_price'].mean()

print("Avg. Unit Price For Each Product:\n", avg_price)

Avg. Unit Price For Each Product:
 Product Name
Cashew      29305.853237
Cassava     28566.641833
Cocoa       31227.870000
Ginger      29061.767327
Palm Oil    30126.338306
Plantain    30200.084754
Rubber      31673.915680
Sesame      29678.281729
Name: unit_price, dtype: float64

# Sales Performance Analysis:

In [14]:
# 5. Highest Export Value:
# Which product or company has the highest export value, and what is that value?
product_export_value = df.groupby('Product Name')['Export Value'].sum()
company_export_value = df.groupby('Company')['Export Value'].sum()

print("Products Total Export Value:\n", product_export_value)
print("Companies Total Highest Export Value:\n", company_export_value)

Products Total Export Value:
 Product Name
Cashew      2.110679e+09
Cassava     1.913308e+09
Cocoa       2.384889e+09
Ginger      1.600416e+09
Palm Oil    1.974586e+09
Plantain    1.947170e+09
Rubber      2.118010e+09
Sesame      2.268608e+09
Name: Export Value, dtype: float64
Companies Total Highest Export Value:
 Company
Agriplus Nigeria Limited                     1.503023e+09
Agro Allied Exporters Nigeria Limited        1.493038e+09
Agro Export Nigeria Ltd                      1.867915e+09
Farmgate Nigeria Limited                     1.615238e+09
Golden Farms Nigeria Limited                 1.732721e+09
Greenfield Agro Exporters Nigeria Limited    1.506893e+09
Nigeria Agro Export Company                  1.704148e+09
Nigerian Export Promotion Council (NEPC)     1.647088e+09
Prime Agro Exports Nigeria Limited           1.706072e+09
Solid Agro Nigeria Limited                   1.541530e+09
Name: Export Value, dtype: float64

In [15]:
product_highest_export = product_export_value.idxmax()
company_highest_export = company_export_value.idxmax()

print("Product with Highest Export:\n", product_highest_export)
print("Company with Highest Export:\n", company_highest_export)

Product with Highest Export:
 Cocoa
Company with Highest Export:
 Agro Export Nigeria Ltd

In [16]:
# 6. Profitability by Product:
# What is the total profit generated by each product?
group_total_profit = df.groupby('Product Name')['Profit per unit'].sum()
print("Total Profit For Each Product:\n", group_total_profit)

Total Profit For Each Product:
 Product Name
Cashew      882676.42
Cassava     774218.24
Cocoa       792905.78
Ginger      602576.97
Palm Oil    750502.78
Plantain    746278.03
Rubber      726338.45
Sesame      849802.88
Name: Profit per unit, dtype: float64

In [17]:
# Which product generates the most profit per unit on average?
profit_average = df.groupby('Product Name')['Profit per unit'].mean()
print(profit_average)

Product Name
Cashew      6350.190072
Cassava     6451.818667
Cocoa       5830.189559
Ginger      5966.108614
Palm Oil    6052.441774
Plantain    6117.033033
Rubber      5810.707600
Sesame      6389.495338
Name: Profit per unit, dtype: float64

In [18]:
product_average_profit = profit_average.idxmax()
print("Product With Most Average Profit Per Unit:\n", product_average_profit)

Product With Most Average Profit Per Unit:
 Cassava

In [19]:
# 7. Export by Country: 
# Which export country contributes the most to the total export value?
tot_xport_value = df.groupby('Export Country')['Export Value'].sum()
print(tot_xport_value)

Export Country
Austria        1.530521e+09
Belgium        1.605707e+09
Denmark        1.831246e+09
France         1.805864e+09
Germany        1.396341e+09
Italy          1.962587e+09
Netherlands    1.534358e+09
Spain          1.489989e+09
Sweden         1.497263e+09
Switzerland    1.663790e+09
Name: Export Value, dtype: float64

In [20]:
country_xport_value = tot_xport_value.idxmax()
print("Country With Most Export Value:\n", country_xport_value)

Country With Most Export Value:
 Italy

# Date and Time-based Analysis: